<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Текущие записи</title>
    <style type="text/css">
   TABLE {
    width: 50%; /* Ширина таблицы */
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
   }
   TD, TH {
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid black; /* Параметры рамки */
   }
   TH {
    background: #b0e0e6; /* Цвет фона */
   }
  </style>
</head>
<body>
    <table>
        <thead>
            <th>Дата записи</th>
            <th>ID устройства</th>
            <th>Фаза1</th>
            <th>Фаза2</th>
            <th>Фаза3</th>
        </thead>
        {% for obj in objects %}
        <tr>
            <td>{{ obj.add_date | date:"Y-m-d H:i" }}</td>
            <td>{{ obj.devid }}</td>
            <td>{{ obj.val1 }}</td>
            <td>{{ obj.val2 }}</td>
            <td>{{ obj.val3 }}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>